body {
  background: #181818 !important;
  color: #e0e0e0 !important;
}
a { color: #8ab4f8 !important; }
header, nav, footer {
  background: #222 !important;
}
pre, code {
  background: #232323 !important;
  color: #ffcc99 !important;
}

@media (prefers-color-scheme: dark) {
  table, th, td {
    background-color: #222 !important;
    color: #eee !important;
    border-color: #444 !important;
  }
}
