<main class="page-content" aria-label="Content">
        <div class="home"><h1 align="center">
  📚 Credentials &amp; Achievements 🎓
</h1>

<p>Welcome to my credentials repository!<br>
This space showcases my verified certifications, completed courses, and professional achievements in technology and cybersecurity.</p>

<p>Here you will find:</p>
<ul>
  <li>Digital certificates from recognized platforms</li>
  <li>Course completion records</li>
  <li>Skill badges and endorsements</li>
  <li>Details about relevant projects and accomplishments</li>
</ul>

<p>All credentials here are organized for easy verification and reference.</p>

<blockquote>
  <p><em>For questions or verification requests, feel free to contact me</em></p>
</blockquote>

<p><a href="https://www.linkedin.com/in/keannu-guevarra-8baa222b0"><img src="https://img.shields.io/badge/LinkedIn-0A66C2?style=for-the-badge&amp;logo=linkedin&amp;logoColor=white" alt="LinkedIn"></a>
<a href="https://www.coursera.org/user/92060da2ee73034fa4dd0c5e08e5084a"><img src="https://img.shields.io/badge/Coursera-white?style=for-the-badge&amp;logo=coursera&amp;logoColor=blue" alt="Coursera"></a>
<a href="mailto:prekowalski@gmail.com"><img src="https://img.shields.io/badge/Email-D14836?style=for-the-badge&amp;logo=gmail&amp;logoColor=white" alt="Email"></a></p>

<hr>

<h2 id="contents">Contents</h2>
<ul>
  <li><a href="#open-source-society-university">OSSU CS</a>
    <ul>
      <li><a href="#pre-college-math">OSSU Pre-college Math</a></li>
      <li><a href="#intro-cs">Intro CS</a></li>
      <li><a href="#core-cs">Core CS</a></li>
      <li><a href="#core-math">Core math</a></li>
      <li><a href="#cs-tools">CS Tools</a></li>
      <li><a href="c#ore-systems">Core Systems</a></li>
    </ul>
  </li>
  <li><a href="#coursera">Coursera</a>
    <ul>
      <li><a href="#google-cybersecurity-specialization">Google Cybersecurity Specialization</a></li>
      <li><a href="#meta-front-end-developer-specialization">Meta Front-End Developer Specialization</a></li>
      <li><a href="#ibm-java-developer-specialization">IBM Java Developer Specialization</a></li>
    </ul>
  </li>
</ul>

<hr>

<h1 id="open-source-society-university"><a href="https://cs.ossu.dev/">Open Source Society University</a></h1>
<p>The Open Source Society University (OSSU) curriculum offers a comprehensive <strong><a href="https://cs.ossu.dev/">Computer Science</a></strong> education using top online courses from leading universities. Designed for self-motivated learners, it covers core CS concepts based on undergraduate degree requirements, excluding general education. It’s ideal for those seeking a strong CS foundation, with community support to aid independent study. Courses are carefully selected from world-class institutions to ensure quality and depth in fundamental computing disciplines.</p>

<h3 id="pre-college-math">Pre-College Math</h3>

<p>The Open Source Society University (OSSU) curriculum offers a thorough self-guided education in <strong><a href="https://ossu.dev/precollege-math/">Pre-college Math</a></strong>  covering fundamental concepts with support from a global learner community, ideal for motivated, independent students.</p>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://ossu.dev/precollege-math/coursepages/arithmetic/">Arithmetic</a></td>
      <td>⏳ In Progress</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://ossu.dev/precollege-math/coursepages/pre-algebra/">Pre-Algebra</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://ossu.dev/precollege-math/coursepages/algebra-1/">Algebra 1</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://ossu.dev/precollege-math/coursepages/geometry/">Geometry</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://ossu.dev/precollege-math/coursepages/algebra-2/">Algebra 2</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://ossu.dev/precollege-math/coursepages/trigonometry/">Trigonometry</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://ossu.dev/precollege-math/coursepages/precalculus/">Precalculus</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><a href="#contents">back to top🔼</a></p>

<h3 id="intro-cs">Intro CS</h3>
<p><strong>Topics covered</strong>:
<code class="language-plaintext highlighter-rouge">computation</code> <code class="language-plaintext highlighter-rouge">imperative programming</code> <code class="language-plaintext highlighter-rouge">basic data structures and algorithms</code></p>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/kowalski-codes/OSSU-Computer-Science/blob/master/coursepages/intro-cs/README.md">Introduction to Computer Science and Programming using Python</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><a href="#contents">back to top🔼</a></p>

<h3 id="core-cs">Core CS</h3>
<p><strong>Topics covered</strong>: <code class="language-plaintext highlighter-rouge">functional programming</code> <code class="language-plaintext highlighter-rouge">design for testing</code> <code class="language-plaintext highlighter-rouge">program requirements</code> <code class="language-plaintext highlighter-rouge">common design patterns</code> <code class="language-plaintext highlighter-rouge">unit testing</code> <code class="language-plaintext highlighter-rouge">object-oriented design</code> <code class="language-plaintext highlighter-rouge">static typing</code> <code class="language-plaintext highlighter-rouge">dynamic typing</code> <code class="language-plaintext highlighter-rouge">ML-family languages (via Standard ML)</code> <code class="language-plaintext highlighter-rouge">Lisp-family languages (via Racket)</code> <code class="language-plaintext highlighter-rouge">Ruby</code></p>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/kowalski-codes/OSSU-Computer-Science/blob/master/coursepages/spd/README.md">Systematic Program Design</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://course.ccs.neu.edu/cs2510sp22/index.html">Class-based Program Design</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/programming-languages">Programming Languages, Part A</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/programming-languages-part-b">Programming Languages, Part B</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/programming-languages-part-c">Programming Languages, Part C</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://course.ccs.neu.edu/cs3500f19/">Object-Oriented Design</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/software-architecture">Software Architecture</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><a href="#contents">back to top🔼</a></p>

<h3 id="core-math">Core Math</h3>
<p><strong>Topics covered</strong>: <code class="language-plaintext highlighter-rouge">discrete mathematics</code> <code class="language-plaintext highlighter-rouge">mathematical proofs</code> <code class="language-plaintext highlighter-rouge">basic statistics</code> <code class="language-plaintext highlighter-rouge">O-notation</code> <code class="language-plaintext highlighter-rouge">discrete probability</code></p>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://openlearninglibrary.mit.edu/courses/course-v1:MITx+18.01.1x+2T2019/about">Calculus 1A: Differentiation</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://ocw.mit.edu/courses/mathematics/18-01sc-single-variable-calculus-fall-2010/index.htm">Single Variable Calculus*</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://openlearninglibrary.mit.edu/courses/course-v1:MITx+18.01.2x+3T2019/about">Calculus 1B: Integration</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://openlearninglibrary.mit.edu/courses/course-v1:MITx+18.01.3x+1T2020/about">Calculus 1C: Coordinate Systems &amp; Infinite Series</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://openlearninglibrary.mit.edu/courses/course-v1:OCW+6.042J+2T2019/about">Mathematics for Computer Science by MIT Open Learning Library*</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://ocw.mit.edu/courses/6-042j-mathematics-for-computer-science-fall-2010/">Mathematics for Computer Science by MIT OpenCourseWare (OCW)*</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><em>Resources:</em><br>
<a href="https://github.com/spamegg1/Math-for-CS-solutions">2015/2019 solutions</a><br>
<a href="https://github.com/frevib/mit-cs-math-6042-fall-2010-problems">2010 solutions</a><br>
<a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-042j-mathematics-for-computer-science-fall-2005/assignments/">2005 solutions</a></p>

<blockquote>
  <p>Notes:<br>
<a href="https://ocw.mit.edu/courses/mathematics/18-01sc-single-variable-calculus-fall-2010/index.htm">Single Variable Calculus*</a> can already cover for the <a href="https://openlearninglibrary.mit.edu/courses/course-v1:MITx+18.01.2x+3T2019/about">Calculus 1B: Integration</a> and <a href="https://openlearninglibrary.mit.edu/courses/course-v1:MITx+18.01.3x+1T2020/about">Calculus 1C: Coordinate Systems &amp; Infinite Series</a></p>

  <p><a href="https://ocw.mit.edu/courses/6-042j-mathematics-for-computer-science-fall-2010/">Mathematics for Computer Science by MIT Open Learning Library<em>](https://openlearninglibrary.mit.edu/courses/course-v1:OCW+6.042J+2T2019/about) and [Mathematics for Computer Science by MIT OpenCourseWare (OCW)</em></a> have the same lessons and curriculum</p>
</blockquote>

<p><a href="#contents">back to top🔼</a></p>

<h3 id="cs-tools">CS Tools</h3>
<p><strong>Topics covered</strong>: <code class="language-plaintext highlighter-rouge">terminals and shell scripting</code> <code class="language-plaintext highlighter-rouge">vim</code> <code class="language-plaintext highlighter-rouge">command line environments</code> <code class="language-plaintext highlighter-rouge">version control</code></p>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://missing.csail.mit.edu/">The Missing Semester of Your CS Education</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><a href="#contents">back to top🔼</a></p>

<h3 id="core-systems">Core systems</h3>
<p><strong>Topics covered</strong>: <code class="language-plaintext highlighter-rouge">procedural programming</code> <code class="language-plaintext highlighter-rouge">manual memory management</code>
<code class="language-plaintext highlighter-rouge">boolean algebra</code> <code class="language-plaintext highlighter-rouge">gate logic</code> <code class="language-plaintext highlighter-rouge">memory</code> <code class="language-plaintext highlighter-rouge">computer architecture</code> <code class="language-plaintext highlighter-rouge">assembly</code> <code class="language-plaintext highlighter-rouge">machine language</code> <code class="language-plaintext highlighter-rouge">virtual machines</code> <code class="language-plaintext highlighter-rouge">high-level languages</code> <code class="language-plaintext highlighter-rouge">compilers</code> <code class="language-plaintext highlighter-rouge">operating systems</code> <code class="language-plaintext highlighter-rouge">network protocols</code></p>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.coursera.org/learn/build-a-computer">Build a Modern Computer from First Principles: From Nand to Tetris</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/nand2tetris2">Build a Modern Computer from First Principles: Nand to Tetris Part II </a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://github.com/kowalski-codes/OSSU-Computer-Science/blob/master/coursepages/ostep/README.md">Operating Systems: Three Easy Pieces</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="http://gaia.cs.umass.edu/kurose_ross/online_lectures.htm">Computer Networking: a Top-Down Approach</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><a href="#contents">back to top🔼</a></p>

<p><em><strong>To be continued</strong></em></p>

<hr>
<h1 id="coursera"><a href="https://www.coursera.org/user/92060da2ee73034fa4dd0c5e08e5084a">Coursera</a></h1>

<h3 id="google-cybersecurity-specialization"><a href="https://www.coursera.org/professional-certificates/google-cybersecurity">Google Cybersecurity Specialization</a></h3>
<p>The Google Cybersecurity Specialization offers foundational training in defending organizations against cyber threats. Across eight courses, learners gain hands-on experience with tools like Python, Linux, SQL, SIEM, and IDS. The curriculum features real-world scenarios, labs, and portfolio projects to develop analysis, problem-solving, and communication skills. Completion prepares learners for entry-level roles and supports readiness for the <strong>CompTIA Security+</strong> exam.</p>
<ul>
  <li>Instructor: <a href="https://www.coursera.org/instructor/google-career-certificates">Google Career Certificates</a></li>
  <li>Partner: <a href="https://www.coursera.org/partners/google">Google</a></li>
  <li>Number of Courses: 9</li>
</ul>

<table>
  <thead>
    <tr>
      <th>Google Cybersecurity Specialization</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.coursera.org/learn/foundations-of-cybersecurity">Foundations of Cybersecurity</a></td>
      <td>✅ Done</td>
      <td><a href="https://www.coursera.org/account/accomplishments/verify/USBAQGOUQW0V">Certificate</a></td>
      <td>June 26, 2025</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/manage-security-risks">Play It Safe: Manage Security Risks</a></td>
      <td>✅ Done</td>
      <td><a href="https://www.coursera.org/account/accomplishments/verify/KY91MBPM9D0H">Certificate</a></td>
      <td>July 4, 2025</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/networks-and-network-security">Connect and Protect: Networks and Network Security</a></td>
      <td>⏳ In Progress</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/linux-and-sql">Tools of the Trade: Linux and SQL</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/assets-threats-and-vulnerabilities">Assets, Threats, and Vulnerabilities</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/detection-and-response">Sound the Alarm: Detection and Response</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/automate-cybersecurity-tasks-with-python/">Automate Cybersecurity Tasks with Python</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/prepare-for-cybersecurity-jobs/">Put It to Work: Prepare for Cybersecurity Jobs</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/accelerate-your-job-search-with-ai/">Accelerate Your Job Search with AI</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Google Cybersecurity Professional Certificate</strong></td>
      <td>⏳ In Progress</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><a href="#contents">back to top🔼</a></p>

<h3 id="meta-front-end-developer-specialization"><a href="https://www.coursera.org/professional-certificates/meta-front-end-developer">Meta Front-End Developer Specialization</a></h3>
<p>The Meta Front-End Developer Specialization provides foundational training in coding and web development. Learners build skills in HTML, CSS, JavaScript, React, Bootstrap, Figma, and GitHub. The curriculum includes hands-on projects, real-world labs, and a capstone project to create a front-end web application. Each course concludes with a project to reinforce learning, covering topics such as version control, UI frameworks, and technical interview preparation.</p>
<ul>
  <li>Instructor: <a href="https://www.coursera.org/instructor/~30575670">Meta Staff</a></li>
  <li>Partner: <a href="https://www.coursera.org/partners/meta">Meta</a></li>
  <li>Number of Courses: 9</li>
</ul>

<table>
  <thead>
    <tr>
      <th>Meta Front-End Developer Specialization</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.coursera.org/learn/introduction-to-front-end-development">Introduction to Front-End Development</a></td>
      <td>✅ Done</td>
      <td><a href="https://www.coursera.org/account/accomplishments/verify/ELBHMFFQMVWN">Certificate</a></td>
      <td>August 23, 2023</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/programming-with-javascript">Programming with JavaScript</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/introduction-to-version-control">Version Control</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/html-and-css-in-depth">HTML and CSS in depth</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/react-basics">React Basics</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/advanced-react">Advanced React</a></td>
      <td>⏳ In Progress</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/principles-of-ux-ui-design">Principles of UX/UI Design</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/meta-front-end-developer-capstone">Front-End Developer Capstone</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/coding-interview-preparation">Coding Interview Preparation</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Meta Front-End Developer Professional Certificate</strong></td>
      <td>⏳ In Progress</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><a href="#contents">back to top🔼</a></p>

<h3 id="ibm-java-developer-specialization"><a href="https://www.coursera.org/professional-certificates/java-developer">IBM Java Developer Specialization</a></h3>
<p>The IBM Java Developer Specialization prepares learners for entry-level Java Developer roles. It covers Java programming, web development, database integration, and modern deployment practices. Learners gain hands-on experience with tools like Git and Docker, build real-world projects, and learn to integrate front-end technologies and frameworks like Spring. The program includes applied learning through labs and over ten practical projects.</p>
<ul>
  <li>Instructors:
    <ul>
      <li><a href="https://www.coursera.org/instructor/ibm-skills-network">IBM Skills Network Team</a>
        <ul>
          <li><a href="https://www.coursera.org/instructor/~116916949">Muhammad Yahya, IBM</a></li>
          <li><a href="https://www.coursera.org/instructor/ravahuja">Rav Ahuja, IBM</a></li>
          <li><a href="https://www.coursera.org/instructor/~96619963">Ramanujam Srinivasan, IBM</a></li>
          <li><a href="https://www.coursera.org/instructor/michelle-saltoun">Michelle Saltoun, IBM</a></li>
          <li><a href="https://www.coursera.org/instructor/upkar-lidder">Upkar Lidder, IBM</a></li>
          <li><a href="https://www.coursera.org/instructor/~94982672">Bethany Hudnutt, IBM</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="https://www.coursera.org/instructor/skillup-edtech">Skill-Up EdTech Team</a>
    <ul>
      <li><a href="https://www.coursera.org/instructor/~69775033">Lavanya Thiruvali Sunderarajan, Skill-Up EdTec</a></li>
    </ul>
  </li>
  <li>Partners:
    <ul>
      <li><a href="https://www.coursera.org/partners/ibm-skills-network">IBM</a></li>
      <li><a href="https://www.coursera.org/partners/skillup-ed-tech">SkillUp EdTech</a></li>
    </ul>
  </li>
  <li>Number of Courses: 12</li>
</ul>

<table>
  <thead>
    <tr>
      <th>IBM Java Developer Specialization</th>
      <th>Status</th>
      <th>Certificate/Grade</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.coursera.org/learn/introduction-to-software-engineering">Introduction to Software Engineering</a></td>
      <td>⏳ In Progress</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/java-for-programming-beginners">Java Programming for Beginners</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/getting-started-with-git-and-github">Getting Started with Git and GitHub</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/object-oriented-program-in-java">Object Oriented Programming in Java</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/introduction-html-css-javascript">Introduction to HTML, CSS, &amp; JavaScript</a></td>
      <td>⏳ In Progress</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/cloud-native-microservices-containers-devops-agile">Cloud Native, Microservices, Containers, DevOps and Agile</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/spring-framework-for-java-development">Spring Framework for Java Development</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/java-development-with-databases">Java Development with Databases</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/java-development-capstone-project">Java Development Capstone Project</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/software-developer-career-guide-and-interview-preparation">Software Developer Career Guide and Interview Preparation</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/generative-ai-elevate-software-development-career">Generative AI: Elevate your Software Development Career</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.coursera.org/learn/generative-ai-for-java-and-spring-development">Generative AI for Java and Spring Development</a></td>
      <td>❌ Not Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>IBM Java Developer Professional Certificate</strong></td>
      <td>⏳ In Progress</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p><a href="#contents">back to top🔼</a></p>




  </div>
    </main>
