body, html {
  background: #181a1b !important;
  color: #e8eaed !important;
}

a {
  color: #8ab4f8 !important;
}

table, th, td {
  background-color: #23272a !important;
  color: #e8eaed !important;
  border-color: #444 !important;
  border-collapse: collapse !important;
}

pre, code {
  background: #222 !important;
  color: #e8eaed !important;
}

hr {
  border-color: #444 !important;
}

container-lg px-3 my-5 markdown-body {
  display: none !important;
}

h1 > a {
  display: none !important;
}


