body, html {
  background: #181a1b !important;
  color: #e8eaed !important;
}

.markdown-body {
  background: transparent !important;
  color: #e8eaed !important;
}

.markdown-body a {
  color: #8ab4f8 !important;
}

.markdown-body table, .markdown-body th, .markdown-body td {
  background-color: #23272a !important;
  color: #e8eaed !important;
  border-color: #444 !important;
}

.markdown-body pre, .markdown-body code {
  background: #222 !important;
  color: #e8eaed !important;
}

.markdown-body hr {
  border-color: #444 !important;
}
